# Numbers and assignments 1-20

In [6]:
# Given a=10, b=3, compute q (integer division), r (remainder), f (float division).
a = 10
b = 3
q = int(a/b)
f = a/b
r = a%b
print(q)
print(r)
print(f)

3
1
3.3333333333333335

In [7]:
# Given x=7, update x to x+1, then to x-2, then to x*3, then to x/2 (in separate assignments).
x = 7
x += 1
print(x)
x -= 2
print(x)
x *= 3
print(x)
x /= 2
print(x)

8
6
18
9.0

In [14]:
# Swap a and b without using a third variable.
a = 10
b = 3
print()

In [20]:
# Given price=450 and discount=15 (percent), compute final price after discount.
price = 450
discount = 85/100
final_price = price*discount
print(final_price)

382.5

In [24]:
# Given seconds=3672, compute hours, minutes, remaining_seconds.
seconds = 3672
hours = seconds/3600
minutes = seconds/60 
print ('hours:', hours)
print ('minutes:', minutes)
remaining_seconds = seconds-3600
print ('remaiming seconds:', remaining_seconds)

hours: 1.02
minutes: 61.2
remaiming seconds: 72

In [ ]:
# Given n=12345, compute last digit and first digit (no loops).
n = '12345'
print(n[0]+n[4])

15

In [36]:
# Given length=12 and width=8, compute area and perimeter.
lenght = 12
width = 8
area = lenght*width
print('area is:',area)
p = area/4
print('perimeter is:', p)

area is: 96
perimeter is: 24.0

In [39]:
# Given celsius=37, compute Fahrenheit.
celsius = 37
far = (celsius*9/5)+32
print (far)

98.6

In [40]:
# Given radius=7, compute circle area (use pi=3.14159).
r = 7
pi = 3.14159
circle_area = pi*7**2
print('Area of circle is:', circle_area)

Area of circle is: 153.93791

In [41]:
# Given a=2, b=5, c=3, compute (a+b)*c and a+b*c.
a=2
b=5
c=3
res = (a+b)*c
res1 = a+b*c
print(res,res1)

21 17

In [47]:
# Given salary=50000, tax_rate=0.07, compute tax and net salary.
salary = 50000
tax = (7/100)*50000 #tax rate = .07 percent 
print(tax)
net_salary = salary-tax
print(net_salary)

3500.0000000000005
46500.0

In [50]:
# Given x=5, compute x^2, x^3 using only * (no **).
x = 5
print (x**2)
print (x**3)

25
125

In [51]:
# Given total=999 and people=6, compute per-person share and leftover.
total = 999
people = 6
print ('per person: ', total/people)

per person:  166.5

In [54]:
# Given km=120, compute meters and centimeters.
km = 120
meters = km*1000
print('meters=', meters)
centimeters = meters*100
print('centimeters=', centimeters)

meters= 120000
centimeters= 12000000

In [56]:
# Given p=3, t=2, r=5 (percent), compute simple interest.
p = 3
t = 2
r = 5
simple_Interest = (p+t+r)/100
print(simple_Interest)

0.1

In [60]:
# Given a=8, b=12, compute their average.
a = 8
b = 12
print('average=', (a+b)/2)

average= 10.0

In [76]:
# Given x=10, set x to x + (x*0.1) (increase by 10%).
x = 10
x = (x+x*0.1)
print(x)

11.0

In [79]:
# Given x=25, update x to x//2, then update again to x%2.
x = 25
x = x//2
print(x)
x = x%2== x
print(x)

12
False

In [80]:
# Given a=9, b=4, compute a/b rounded to 2 decimals using round().
a = 9
b = 4
res = round(a/b)
print(res)

2

In [87]:
# Given x=100, apply two sequential discounts: 10% then 5%. Compute final.
x = 100
dis1 = 10/100
dis2 = 5/100
t_dis = (dis1+dis2)*100
print(t_dis)
price = x-t_dis
print(price)

15.000000000000002
85.0

# strings basics

In [90]:
# Given s="python", get first char, last char, and middle char(s).
x = 'python'
print(x[0])
print(x[-1])
print(x[1:-1])

p
n
ytho

In [91]:
# Given s="hello world", extract "world" using slicing.
s = "hello world"
print(s[6:11])

world

In [92]:
# Given s="  Data Science  ", remove extra spaces from both sides.
s = " data science  "
print(s.strip())

data science

In [93]:
# Given s="BANANA", make it lowercase.
s = 'banana'
print(s.lower())

banana

In [ ]:
# Given s="paKisTaN", make it all uppercase and all lowercase (two variables).
s = "paKisTaN"
print(s.lower())
print(s.upper())

pakistan
PAKISTAN

In [100]:
# Given s="abc123", separate letters part and digits part using slicing.
s = "abc123"
print('letters:',s[0:3])
print('digits:',s[3:6])

letters: abc
digits: 123

In [103]:
# Given s="mississippi", count how many times "s" occurs.
s = "mississippi"
print (s.count('s'))

4

In [104]:
# Given s="one,two,three", split it into a list of words.
s = "one,two,three"
print(s.split())

['one,two,three']

In [73]:
# Given words=["I","love","Python"], join into "I love Python".
words = ["I", "love", "python"]
x=" ".join(words)
print(x)

I love python

In [62]:
# Given s="2026-01-20", extract year, month, day as strings.
s = "2026-01-20"
print(s.split('year'))

['2026-01-20']

In [ ]:
# Given s="hello", create "h-e-l-l-o" using indexing and concatenation (no loops).
s = "hello"
s[0]

he

In [132]:
# Given s="abcdef", reverse it using slicing.
s = 'abcdef'
print(s[::-1])

fedcba

In [133]:
# Given s="banana", replace "na" with "NA" (all occurrences).
s = 'banana'
print(s.replace('na', 'NA'))

baNANA

In [135]:
# Given s="Email: test@gmail.com", find index where "@" occurs.
s = 'Email: test@gmail.com'
print(s.index('@'))

11

In [136]:
# Given s="path/to/file.txt", extract "file.txt" using .split("/").
s = 'path/to/file.txt'
print(s.split('file.txt'))

['path/to/', '']

In [137]:
# Given s="file.txt", extract extension "txt".
s = 'file.txt'
print(s.split('txt'))

['file.', '']

In [141]:
# Given s="a,b,c,d", split by comma and get the 2nd element.
s = 'a,b,c,d'
s.split(',')
print(s)
print(s[2])

a,b,c,d
b

In [ ]:
# Given s="Hello123", check if "123" is in the string (store boolean).
s = 'hello123'

In [144]:
# Given s="programming", get substring "gram" using slicing.
s = 'programming'
print(s[3:7])

gram

In [150]:
#  Given first="Hazrat", last="Bilal", make "Hazrat Bilal" using concatenation.
first = 'Hazrat'
last = 'Bilal'
print (first , last)

Hazrat Bilal

In [151]:
# Given s="I like tea", replace "tea" with "coffee".
s = "i like tea"
print(s.replace('tea', 'coffee'))

i like coffee

In [153]:
# Given s="aaaab", count "a" and count "ab".
s = "aaaab"
print(s.count('a'))
print(s.count('ab'))

4
1

In [154]:
# Given s="user_name", replace _ with space.
s = "user_name"
print(s.replace('_',' '))

user name

In [163]:
# Given s="one two  three", split by spaces and observe empty items; fix by using .split() without argument.
s = "one two  three"
print(s.split(" "))
print(s.split())

['one', 'two', '', 'three']
['one', 'two', 'three']

In [164]:
# Given s="0123456789", get every second character using slicing.

s = '0123456789'
print(s[0:-1:2])

02468

# Lists

In [169]:
# Given lst=[10,20,30,40], get first, last, and sum of first+last.
lst = [10,20,30,40]
first = lst[0]
last = lst[-1]
sum = int(first+last)
print(first)
print(last)
print(sum)

10
40
50

In [172]:
# Given lst=[1,2,3], append 4.
lst = [1,2,3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [186]:
# Given lst=[1,2,3], extend with [4,5].
lst = [1,2,3]
lst.extend([4,5])
print(lst)

[1, 2, 3, 4, 5]

In [188]:
# Given lst=[5,6,7], insert 99 at index 1.
lst = [5,6,7]
lst.insert(1, 99)
print(lst)

[5, 99, 6, 7]

In [189]:
# Given lst=[1,2,3,2,2], count how many `2`s.
lst = [1,2,3,2,2]
print(lst.count(2))

3

In [190]:
# Given lst=[9,8,7], reverse it (method).
lst = [9,8,7]
lst.reverse()
print (lst)

[7, 8, 9]

In [191]:
# Given lst=[3,1,2], sort it ascending (method).
lst = [3,1,2]
lst.sort()
print(lst)

[1, 2, 3]

In [199]:
# Given lst=[3,1,2], sort descending (method).
lst = [3,1,2]
lst.reverse()
print(lst)

[2, 1, 3]

In [200]:
# Given lst=["a","b","c","d"], slice out ["b","c"].
lst = ["a" , "b" , "c" , "d"]
print(lst[1:3])

['b', 'c']

In [201]:
# Given lst=[10,20,30,40,50], get a sublist of last 3 items.
lst = [10,20,30,40,50]
print(lst[2:5])

[30, 40, 50]

In [212]:
# Given lst=[1,2,3,4], create lst2 as [1,2,3,4,1,2,3,4] using * or +.
lst = [1,2,3,4]
print(lst+lst)

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
# Given lst=["apple","banana","mango"], replace "banana" with "orange" using index.
lst = ["apple","banana","mango"]
x = lst.index('banana')

print(lst.index('banana'))

1

In [234]:
# Given lst=[1,2,3,4], remove item 3.
lst = [1,2,3,4]
print(lst.pop(3))
print(lst)

4
[1, 2, 3]

In [235]:
# Given lst=[1,2,3,4], pop last item into variable x.
lst = [1,2,3,4]
x = lst.pop(3)
print(x)

4

In [244]:
# Given lst=[1,2,3,4], pop index 1 into variable x.
lst = [1,2,3,4]
x = lst.pop(1)
print(x)
print(lst)

2
[1, 3, 4]

In [247]:
# Given lst=[10,20,30], update 2nd element to 999.
lst = [10,20,30]
lst.insert(1, 999)
print(lst)

[10, 999, 20, 30]

In [252]:
# Given lst=[1,2,3,4,5], get even-index elements using slicing.
lst = [1,2,3,4,5]
print(lst[0::2])

[1, 3, 5]

In [256]:
# Given lst=[1,2,3,4,5], get odd-index elements using slicing.
lst = [1,2,3,4,5]
print(lst[1::2])

[2, 4]

In [274]:
# Given lst=[1,2,3], create a nested list [[1,2,3],[4,5,6]] using assignment and list literals.
lst = [1,2,3]
lst += [[4,5,6]]
print(lst)

[1, 2, 3, [4, 5, 6]]

In [276]:
# Given lst=[1,2,3] and lst2=lst, modify lst2[0]=999 and observe effect; then fix using lst.copy().
lst = [1,2,3]
lst2 = lst
lst2[0] = 999
print(lst2)

[999, 2, 3]

In [360]:
# Given lst=["a","b","c"], create a string "a,b,c" using ",".join(lst).
lst = ["a","b","c"]
lst = ','.join(lst)
print(lst)

a,b,c

In [291]:
# Given s="a,b,c", create list ["a","b","c"] using .split(",").
s = "a,b,c"
print(s.split(","))

['a', 'b', 'c']

In [298]:
# Given lst=[1,2,3,4], check if 3 is in the list (store boolean).
lst = [1,2,3,4]
print(lst.index(3))
lst.append(bool())
print(lst)

2
[1, 2, 3, 4, False]

In [299]:
# Given lst=[1,2,3,4], find index of 4.
lst = [1,2,3,4]
print(lst.index(4))

3

In [316]:
# Given lst=[1,2,3,4], create a new list that contains first two + last two using slicing and +.
lst = [1,2,3,4]
lst1 = lst[0:2]+lst[2:]
print(lst1)

[1, 2, 3, 4]

# Tuples

In [317]:
# Given t=(10,20,30), access first and last.
t = (10,20,30)
print(t[0],t[2])

10 30

In [319]:
# Given t=("a","b","c","d"), slice ("b","c").
t = ("a","b","c","d")
print(t[1:3])

('b', 'c')

In [328]:
# Given t=(1,2,3), do tuple unpacking into a,b,c.
t = (1,2,3)
a,b,c = t
print(a,b,c)

1 2 3

In [330]:
# Given t=(5,10), swap into a,b via unpacking.
t = (5,10)
a,b = t
print(b, a)

10 5

In [339]:
# Given t=(1,2,3,2,2), count how many `2`s.
t = (1,2,3,2,2)
print(t.count(2))

3

In [347]:
# Convert lst=[1,2,3] into tuple t.
lst = [1,2,3]
lst = tuple(lst)
print(lst)

(1, 2, 3)

In [351]:
# Convert t=(1,2,3) into list lst.
t = (1,2,3)
t = list(t)
print(t)

[1, 2, 3]

In [362]:
# Given t=("Hazrat","Bilal"), create string "Hazrat Bilal" using join.
t = ("Hazrat","Bilal")
t = ' '.join(t)
print(t)

Hazrat Bilal

In [357]:
# Given t=(1,2,3), create t2=t+(4,5).
t = (1,2,3)
t += t+(4,5)
print(t)

(1, 2, 3, 1, 2, 3, 4, 5)

In [358]:
# Given t=(1,2,3,4,5), get middle element(s) using indexing.
t = (1,2,3,4,5)
print(t[1:-1])

(2, 3, 4)

# Dictionaries

In [370]:
# Create a dictionary for a student: name, age, cgpa (3 keys).
student = {"name" :  ' ', "age" : ' ' , "cgpa": ' '}
print(student)

{'name': ' ', 'age': ' ', 'cgpa': ' '}

In [372]:
# Given d={"a":10,"b":20}, get value of "b".
d = {"a":10,"b":20}
print(d["b"])

20

In [376]:
# Given d={"a":10,"b":20}, update "b" to 999.
d = {"a":10,"b":20}
d["b"]= 999
print(d)

{'a': 10, 'b': 999}

In [377]:
# Given d={"a":10,"b":20}, add new key "c" with value 30.
d = {"a":10,"b":20}
d["c"]= 30
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [385]:
# Given d={"a":10,"b":20}, remove key "a" using .pop() into a variable.
d = {"a":10,"b":20}
d.pop("a")
print(d)

{'b': 20}

In [40]:
# Given d={"name":"Ali","city":"Quetta"}, check if key "city" exists (store boolean using in).
d = {"name":"Ali","city":"Quetta"}
"city" in d

True

In [404]:
# Given d={"x":1}, safely read missing key "y" with default 0 using .get().
d = {"x":1}
d["y"]=0
# d.get("0")
print(d)

{'x': 1, 'y': 0}

In [410]:
# Given d={"math":80,"english":75,"cs":90}, compute total of all 3 using direct access.
d = {"math":80,"english":75,"cs":90}
total = d["math"]+d["cs"]+d["english"]
print(total)

245

In [411]:
# Given d={"p":5,"q":10}, make a tuple of items list: list(d.items()).
d = {"p":5,"q":10}
print(d.items())

dict_items([('p', 5), ('q', 10)])

In [420]:
# Given d={"a":1,"b":2}, create separate lists keys_list and values_list.
d = {"a":1,"b":2}
lst1 = d.keys()
lst2 = d.values()
print(lst1)
print(lst2)

dict_keys(['a', 'b'])
dict_values([1, 2])

In [ ]:
# Given d={"name":"Hazrat","role":"Developer"}, build sentence "Hazrat is Developer" using dict values.
d = {"name":"Hazrat","role":"Developer"}
sen = d.
print(sen)

dict_values(['Hazrat', 'Developer'])

In [428]:
# Given d={"a":1,"b":2,"c":3}, create d2 copy and change d2["a"]=999 (original should stay same).
d = {"a":1,"b":2,"c":3}
d2 == d
d2["a"]=999
print(d)
print(d2)

{'a': 1, 'b': 2, 'c': 3}
{'a': 999, 'b': 2, 'c': 3}

In [433]:
# Given d={"price":100,"tax":0.05}, compute final price = price + price*tax.
d = {"price": 100,"tax":0.05}
f_price = d["price"]+ d["tax"]*d["price"]
print(f_price)

105.0

In [441]:
# Given d={"first":"Hazrat","last":"Bilal"}, create "Hazrat Bilal" with f-string or concatenation.
d = {"first": "Hazrat", "last": "Bilal"}
print(d["first"]+d["last"])

HazratBilal

In [500]:
# Given d={"items":[1,2,3]}, append 4 into the list inside the dict.
d = {"items":[1,2,3]}
print(d["items"].append(4))
print(d)

None
{'items': [1, 2, 3, 4]}

In [475]:
# Given d={"coords":(10,20)}, extract x and y using tuple unpacking.
d = {"coords": (10,20)}
x,y = d["coords"]
print(x,y)

10 20

In [38]:
# Given d={"a":1,"b":2}, create a new dict with swapped keys/values manually for these two keys only.
d = {"a":1,"b":2}
d2 = d["a","b"].reverse()
print(d2)

KeyError: ('a', 'b')

In [7]:
# Given d={"a":10,"b":20,"c":30}, read "d" safely with .get() and default -1.
d = {"a":10,"b":20,"c":30}
# d["d"]=40
x = d.get("d",-1)
print(x)

-1

In [33]:
# Given d={"username":"abc","password":"123"}, replace password value with "***" (mask).
d = {"username": "abc", "password":"123"}
d["password"].replace("123", "***")
print(d)

{'username': 'abc', 'password': '123'}

In [37]:
# d={"full_name":"Hazrat Bilal"}, split it into first and last and store back as d["first"], d["last"].
d = {"full_name":"Hazrat Bilal"}
print(d["full_name"].split())

['Hazrat', 'Bilal']